<div class="modal hide fade" id="<%=h weibo.id %>_repost_modal">
  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h3>转发微博</h3>
 	</div>
	 <div class="modal-body">
				<div class="row">
				  <div class="span5" style="disabled:true;">
					 <%= text_area_tag("#{weibo.id}_repost", "想说点什么......", rows:3, class:'text_area span5') %>
								<div class="row">
								  <div class="span5">
								  <span><a><%= weibo.user.screen_name if weibo.user? and weibo.user.screen_name? %>:</a><span>
								  <span><%= weibo.text  %></span>
								  </div>
								</div>

					 </div>
				</div>
	 </div>
	 <div class="modal-footer">
	   <% unless Userkey.find_by_user_id(current_user.id).nil? %>
	    <% @other_weibos = Array.new %>
					<% @firms = Userkey.find_by_sql("select * from userkeys where user_id ='#{current_user.id}'") %>
							<% @firms.each do |weibo| %>
							 <% if weibo.weibo_firm != "sinaweibo" %>
							 <% @other_weibos.push(weibo.weibo_firm) %>
								<% firm = case weibo.weibo_firm %>
								<% when "sinaweibo" then "新浪微博" %>
								<% when "qqweibo" then "腾讯微博" %>
								<% when "wangyiweibo" then "网易微博" %>
								<% else "focus" %>
								<% end %>
								<lable><input type="checkbox" checked="true" />
								<%= firm %>
								</label>
								<% end %>
						<% end %>
					<% end %>
	   <lable><input type="checkbox" id="<%= weibo.id %>_comment_at_time" checked="true" />
			    同时评论给<%= weibo.user.screen_name if weibo.user? and weibo.user.screen_name? %>
			<a class="btn btn-primary" href="javascript:void(0)" onclick="sina_weibo_repost(<%=h weibo.id %>,$('#<%=h weibo.id %>_repost').val(),$('#<%= weibo.id %>_comment_at_time').attr('checked'));$('#<%=h weibo.id %>_repost_modal').modal('toggle');other_weibos_repost(<%=h @other_weibos %>,'<%=h weibo.text %>');return false;">
			  转发</a>
		  <a class="btn" href="javascript:void(0)" onclick="$('#<%=h weibo.id %>_repost_modal').modal('toggle');">取消</a>
			  </label>
	 </div>
</div>
